*{margin: 20px; box-sizing:border-box;}

body{
    background-color: #bed5fc;
}
.color{
    background-color:	#FFFFFF;
    max-width: 500px;
    width: 70%;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

form{
    border: 1px solid #bed5fc;
}

form h1{
    text-align: center;
}
form input[type=text],
form input[type=password]{
    width: 100%;
    height: 45px;
    border: 1px solid #DBDBDB;
    padding-left: 10px;
    margin: 10px 0;
}
.pass-change{
    width: 100%;
    align-items: center;
    margin-left: auto;
}
button{
    width: 410px;
    display: flex;
    align-items: center;
    margin-left: -70px;
    background-color: transparent;
    border: none;
    transition: .2s;
    opacity: .5s;
}

form input{
    background-color: #FAFAFA;
    border-radius: 5pt;
}
form a{
    text-decoration: none;
    color: #425d70;
}
form ahover {
    color: #425d70;
}

label h1{
    color: #00376b;
    font-size: 25px;
}
form h1{
    font-size: 50px;
}
.register {
    padding: 20px;
}
